{% extends "../layouts/default.twig" %}

{% block intro %}
	<div class="container">
		<h1 style="margin-bottom:40px; text-align:center">About Ampp Star</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="container" style="text-align:left">
		<p>What started out as an idea for a personal creative website unfolded into a creative social media website where registered users can also share their creative content with the world.</p>
		<p>The name Ampp Star comes from the beginning letters of the four medians associated with Ampp Star, <b>A</b>rt, <b>M</b>usic, <b>P</b>oetry and <b>P</b>hotography.</p>
		<p>Ampp Star allows users to create a <b>Personal Profile</b>, <b>Upload Creative Content</b> and <b>Share</b> this content with the world on various social media websites like Facebook, Pinterest, Google+ and Twitter.
			Ampp Star users can also decide whether to keep their uploads <b>Private</b> (where others cannot see the content) or <b>Public</b> (where everyone can see what's been posted).</p>
		<p>Ampp Star is great for <b>promoting your creative business</b> or just <b><em>finding talent for your event</em></b>, on Amppstar.com there's a lot of <b><em>great content!</em></b></p>
		<p>Sign up today and get your creative content out, because that's what Ampp Star is all about! Registration is completely <b>FREE!</b></p>
	</div>
{% endblock %}
