{% extends "../layouts/default.twig" %} {% block intro %}
<div class="container-fluid">
	<section>
		<div class="row">
			<div class="col">
				<h2>We have deleted your account.</h2>
			</div>
		</div>
	</section>
</div>
{% endblock %}
