{% block contents %}
	<h5>Hi %recipient.firstName%,</h5>
	<p class="text-larger">We have receieved a password reset request from your account. Please use the new password below to <a href="{{link}}" target="_blank">login</a>.</p>
	<p class="text-larger">
		<strong>{{ password }}</strong>
	</p>
{% endblock %}
