{% block contents %}
	<h5>Hi %recipient.firstName,</h5>
	<p>Please click on the below link to verify your account.</p>
	<h4><a href="{{link}}" target="_blank">Click Here</a></h4>
	<p>If you cannot view this link copy-and-paste this URL into your browser: {{link}}</p>
	<p>
		<img src="https://www.amppstar.com/images/logo.png" alt="Instagram"> &copy AMPP Star 2019 <a href="https://www.amppstar.com/about/termsandconditions">Terms &amp; Conditions</a>
	</p>
	<p><small>*By clicking on the "Click Here" link you are agreeing to Amppstar's Terms and Conditions as outlined in the Terms and Conditions document referenced in the link below.</small></p>
	<p>
		<a href="https://www.instagram.com/ampp_star/" target="_blank"><img src="https://www.amppstar.com/images/iconIG.png" alt="Instagram"></a>
		<a href="https://www.facebook.com/amppstar/" target="_blank"><img src="https://www.amppstar.com/images/iconFB.png" alt="Facebook"></a>
	</p>


{% endblock %}
