{% extends "../../layouts/default.twig" %}


{% block content %}
<div class="container-fluid" style="padding:10px;">
<h2>Signed Out</h2>
<p> See you again soon... </p>
          <a style="margin-right:10px" class="btn btn-action" role="button"  href="/">Go Home</a>
          <a class="btn btn-secondary" role="button" href="/signin">Sign in again</a>
</div>
{% endblock %}
